script(src='/javascripts/stats.js')
script(src='/javascripts/socket.io.js')
script(src='/javascripts/require.js')
script(src='/javascripts/testapp.js')

div#goom(data-level="#{level}", data-connection="#{connection}")